body {
  background-color: #4a4a4a;
}

#subtext {
  position: fixed;
  padding-top: 30px;
  padding-left: 2%;
}

.is-circle {
  border-radius: 50%;
}

.img-container {
  width: auto;
  height: auto;
}

#projects {
  padding-top: 8%;
  padding-bottom: 5%;
}

#project-img {
  max-width: 1024px;
  max-height: 720px;
}

#icon-right {
  padding-left: 10px;
}

#icon-left {
  padding-right: 10px;
}

#project-content {
  padding: 7%;
}

.columns {
  padding-bottom: auto;
}

.column{
  padding-bottom: 8%;
  margin-bottom: 0 !important;
}

i {
  color: #1fdeb8;
}

#about-me {
  padding-bottom: 3%;
}
