#subtext {
  position: fixed;
  padding-top: 30px;
  padding-left: 2%;
}

.level {
  width: 100%;
}

.is-circle {
  border-radius: 50%;
  width: 480px;
  height: 480px;
}

#projects {
  padding-top: 8%;
  padding-bottom: 5%;
}

#project-img {
  max-width: 1024px;
  max-height: 720px;
}

#icon-right {
  padding-left: 10px;
}

#icon-left {
  padding-right: 10px;
}

#project-content {
  padding: 5%;
}

.columns {
  padding-bottom: 10%;
}

i {
  color: #1fdeb8;
}

#about-me {
  padding-bottom: 3%;
}
